* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #485158;
    background-color: #fcfcfcf7;
    position: relative;
    margin-bottom: 30px;
}

h1 {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0px 0px .8px #000000;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    width: 380px;
    margin: 40px 0 20px 0;
}

h2 {
    font-size: 16px;
}

.card p {
    color: #83898D;
    font-size: 14px;
    margin: 5px 0;
}

.modal p {
    color: #83898D;
    font-size: $$$;
}

header,
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    grid-row-gap: 20px;
}


.grid-container .avatar {
    align-self: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.grid-container .text-container {
    align-self: center;
    padding-left: 15px;
}

.grid-container .card {
    display: flex;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border: thin solid #DFDFDF;
    border-radius: 5px;
    width: 400px;
    height: 150px;
    padding: 20px;
}

.modal .avatar {
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}


@media screen and (max-width: 370px) and (min-width: 320px) {

    h1,
    .grid-container .card {
        width: 95%;
    }

    .grid-container .card {
        padding: 15px;
    }

    .grid-container .avatar {
        width: 80px;
        height: 80px;
    }

    h1,
    .grid-container h2 {
        font-size: 13px;
        padding: 0;
    }

    .card p {
        font-size: 12px;
    }

    .modal {
        width: 90%;
    }

    .modal p {
        font-size: 14px;
    }

    .modal .avatar {
        width: 90px;
        height: 90px;
    }
}

@media (min-width: 370px) {

    .grid-container .card {
        padding: 20px;
    }

    h1,
    .grid-container .card {
        width: 90%;
    }

    .grid-container .avatar {
        width: 80px;
        height: 80px;
    }

    .modal {
        width: 75%;
    }

    h1 {
        padding: 0;
        font-size: 14px;
    }

    .grid-container h2 {
        font-size: 16px;
    }

    .card p {
        font-size: 13px;
    }
}


@media (min-width: 400px) {
    .grid-container .card {
        width: 380px;
        padding: 30px;
    }

    .grid-container .text-container {
        padding-left: 25px;
    }

    h1 {
        width: 380px;
        font-size: 16px;
        text-align: left;
        padding: 0;
    }

    .modal {
        width: 380px;
    }

    .grid-container h2 {
        font-size: 16px;
    }

    .card p {
        font-size: 13px;
    }

}



@media screen and (max-width: 1050px) and (min-width: 768px) {

    header,
    .grid-container {
        grid-template-columns: 50% 50%;
    }

    .grid-container .card {
        width: 380px;
        padding: 25px;
    }

    .grid-container .text-container {
        padding-left: 20px;
    }

    h1 {
        width: 380px;
        font-size: 17px;
    }

    .grid-container h2 {
        font-size: 18px;
    }

    .card p {
        font-size: 15px;
    }

    .grid-container .avatar {
        width: 90px;
        height: 90px;
    }
}


@media (min-width: 1050px) {

    body {
        margin: 20px;
    }

    header,
    .grid-container {
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 15px;
        justify-content: center;
    }

    .grid-container .card {
        width: 340px;
        height: 150px;
        padding: 20px;
    }

    .grid-container .text-container {
        padding-left: 12px;
    }

    h1 {
        width: 380px;
        font-size: 17px;
    }

    header {
        margin-left: 2.5%;
    }

    .grid-container .avatar {
        width: 80px;
        height: 80px;
    }

    .grid-container h2 {
        font-size: 18px;
    }

    .card p {
        font-size: 14px;
    }
}